<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZhongFaZhiZao.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>567B610E1DCADFF9004D1CFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>567B61271DCADFF9004D1CFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>567B61321DCADFF9004D1CFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
